.page-header {
  border-bottom: 1px solid $second-border-color;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.header-logo-studio {
  color: $primary-black-logo-color;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $second-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: $accent-color;
}

.link.current {
  color: $accent-color;
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 4px solid $accent-color;
  border-radius: 2px;
}

.header-contacts-icon {
  margin-right: 10px;
  fill: $second-text-color;
}

.header-contacts-icon {
  fill: currentColor;
}
